#output{
  text-align: center;
  font-size: 18px;
}


.item {
    border: 1px solid black;
    padding: 2%;
    width: 29%;
    float: left;
    height: 300px;
}

.img-fluid {
    max-width: 100%;
}

.productItem,
.btn {
    border: 1px solid black;
    text-decoration: none;
    background-color: green;
    color: azure;
    border-radius: 25px;
    padding: 5px;
    font-size: 0.9em;
    display: inline-block;
}

.remove {
    background-color: #666;
}

td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
}

th {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.3em;
}
